@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

:root {
  --main-green: #79dd09;
  --main-green-rgb-015: rgba(121, 221, 9, 0.1);
  --main-yellow: #bdbb49;
  --main-yellow-rgb-015: rgba(189, 187, 73, 0.1);
  --main-red: #bd150b;
  --main-red-rgb-015: rgba(189, 21, 11, 0.1);
  --main-blue: #0076bd;
  --main-blue-rgb-015: rgba(0, 118, 189, 0.1);
}

html{
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
}

@font-face {
  font-family: "Ailerons";
  src: url('assets/font/Ailerons-Typeface.otf');
}

/* Settings Navbar */
nav{
  border: none !important;
  background-color: transparent !important;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}

nav .navbar-brand{
  cursor: pointer;
}

.nav-link{
  color: black !important;
   margin-right: 10px;
}

.nav-link:after{
	content: '';
  display: block;
  height: 3px;
  width: 0;
  background: whitesmoke;
  transition: width .6s ease, background-color .7s ease;
}

.nav-link:hover:after{
	width: 100%;
  background: #48D1CC;
}

nav.active{
	background-color: #62C4D2 !important;
  transform: translate(0px);
  transition: 0.8s;
  box-shadow: 0px 5px 20px #708090;
}
/* Settings Navbar */


/* Settings Img and Text */
.background-img img{
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
}

.background-img .card-img-overlay{
  margin-top: 23vw;
  margin-left: 9vw;
}

.background-img .card-img-overlay h3{
  font-size: 32px;
}

.background-img .card-img-overlay p{
  width: 50vw;
  text-align: justify;
}

.background-img .card-img-overlay a{
  color: black;
  text-decoration: none;
  background-color: white;
  border: 2px solid black;
  padding: 0.7vw;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.background-img .card-img-overlay a:hover{
  background-color: black;
  border: 2px solid black;
  color: white;
}
/* Settings Img and Text */


/* Settings Features */
.features{
  margin-top: -7%;
}

.features .card{
	border-radius: 10px;
	background-color: #E6E6FA;
  border: none;
}

.features .card img{
  width: 20%;
  margin-top: 5%;
}

.features .card-body p{
	color: #A9A9A9;
	font-size: 14px;
}
/* Settings Features */


/* Settings Portofolio */
.portofolio{
  height: auto;
  width: 97%;
  margin: auto;
  padding: auto;
  margin-top: 3%;
}

.portofolio .container-fluid .content-portofolio{
  background-color: #48D1CC;
  border-radius: 10px;
}

.portofolio .container-fluid .text-portofolio p{
  font-size: 14px;
  padding: 0.5vw;
  font-weight: 0;
}

a, a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

.postcard a {
  color: inherit;
}

.postcard h1, .postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.postcard .small {
  font-size: 80%;
}

.postcard .postcard__title {
  font-size: 1.75rem;
}

.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.postcard .postcard__img_link {
  display: contents;
}

.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}

.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}

.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}

.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}

.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}

.postcard:hover .postcard__bar {
  width: 100px;
}

.postcard .postcard__tagbox .green.play:hover {
  background: var(--main-green);
  color: black;
}

.postcard .green .postcard__title:hover {
  color: var(--main-green);
}

.postcard .green .postcard__bar {
  background-color: var(--main-green);
}

.postcard .green::before {
  background-image: linear-gradient(-30deg, var(--main-green-rgb-015), transparent 50%);
}

.postcard .green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, var(--main-green-rgb-015), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
  background: var(--main-blue);
}

.postcard .blue .postcard__title:hover {
  color: var(--main-blue);
}

.postcard .blue .postcard__bar {
  background-color: var(--main-blue);
}

.postcard .blue::before {
  background-image: linear-gradient(-30deg, var(--main-blue-rgb-015), transparent 50%);
}

.postcard .blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, var(--main-blue-rgb-015), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
  background: var(--main-red);
}

.postcard .red .postcard__title:hover {
  color: var(--main-red);
}

.postcard .red .postcard__bar {
  background-color: var(--main-red);
}

.postcard .red::before {
  background-image: linear-gradient(-30deg, var(--main-red-rgb-015), transparent 50%);
}

.postcard .red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, var(--main-red-rgb-015), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
  background: var(--main-yellow);
  color: black;
}

.postcard .yellow .postcard__title:hover {
  color: var(--main-yellow);
}

.postcard .yellow .postcard__bar {
  background-color: var(--main-yellow);
}

.postcard .yellow::before {
  background-image: linear-gradient(-30deg, var(--main-yellow-rgb-015), transparent 50%);
}

.postcard .yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, var(--main-yellow-rgb-015), transparent 50%);
}
/* Settings Portofolio */

/* Settings About Us */
.one-bg{
  background-color: snow;
  height: auto;
}

.about{
  margin-top: 3%;
  height: auto;
}

.about .container h3{
  padding-top: 2%;
}

.about .card{
  background-color: transparent;
  border: none;
}

.about .card img{
  margin-top: 7%;
}

.about .card p{
  text-align: justify;
}
/* Settings About Us */

/* Settings Our Service */
.our-service{
  margin-top: 3%;
  height: auto;
}

.section_our_solution{
  margin-top: 5%;
}

.section_our_solution .row {
  align-items: center;
}
  
.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.solution_cards_box .solution_card {
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
}
  
.solution_cards_box .solution_card:hover {
  background: #309df0;
  color: #fff;
  transform: scale(1.1);
  z-index: 9;
}
  
.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}
  
.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
  color: #fff;
}
  
.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}
  
.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff !important;
  color: #309df0;
}
  
.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}
  
.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}
  
.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}
  
.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
  
.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}
  
.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.solution_cards_box .solution_card .so_top_icon img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-top: 10px;
}
/* Settings Our Service */


/* Settings Footer */
.footer a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

.footer a,
a:active,
a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer img {
max-width: 100%;
height: auto;
}

.footer section {
  padding: 60px 0;
}

.footer {
  background: grey;
  padding-top: 80px;
  padding-bottom: 40px;
}

.single_footer h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

.single_footer h4::after {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background: #fff;
  margin-top: 20px;
}

.single_footer p{
  color:#fff;
}

.single_footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.single_footer ul li a {
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 36px;
  font-size: 15px;
  text-transform: capitalize;
}

.single_footer ul li a:hover{ 
  color: #ff3666; 
}

.single_footer_address ul li{
  color:#fff;
}

.single_footer_address ul li span {
  font-weight: 400;
  color: #fff;
  line-height: 28px;
}

.contact_social ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.subscribe {
  display: block;
  position: relative;
  margin-top: 15px;
  width: 100%;
}

.subscribe__input {
  background-color: #fff;
  border: medium none;
  border-radius: 5px;
  color: #333;
  display: block;
  font-size: 15px;
  font-weight: 500;
  height: 60px;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0 150px 0 20px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}

.subscribe__btn {
  background-color: transparent;
  border-radius: 0 25px 25px 0;
  color: #01c7e9;
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}

.subscribe__btn i{
  transition: all 0.3s ease 0s;
}

.subscribe__btn:hover i{
  color:#ff3666;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.social_profile{
  margin-top: -5%;
}

.social_profile ul{
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.social_profile ul li{
  float: left;
}

.social_profile ul li a {
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  margin: 0px 5px;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  border: 1px solid rgba(255,255,255,0.2);
}

.social_profile ul li a:hover{
  background:#ff3666;
  border: 1px solid #ff3666;
  color:#fff;
  border:0px;
}

.copyright {
  margin-top: 70px;
  padding-top: 40px;
  color:#fff;
  font-size: 15px;
  border-top: 1px solid rgba(255,255,255,0.4);
  text-align: center;
}

.copyright a{
  color:#01c7e9;transition: all 0.2s ease 0s;
}

.copyright a:hover{
  color:#ff3666;
}


/* Settings Responsive */
@media only screen and (max-width: 320px){
  nav .navbar-brand{
    width: 70%;
  }
  
  nav .navbar-brand img{
    width: 80%;
  }

  .background-img img{
    height: 300px;
  }

  .background-img .card-img-overlay{
    margin-top: 30% !important;
  }

  .background-img .card-img-overlay h3{
    font-size: 1em !important;
    width: 80%;
  }

  .background-img .card-img-overlay p{
    font-size: 0.6em !important;
    text-align: justify;
  }

  .background-img .card-img-overlay .button{
    margin-top: -3%;
  }

  .portofolio .text-portofolio p{
    text-align: justify;
    width: 95%;
    margin: auto;
    padding: auto;
  }

  .our-service .text-service p{
    text-align: justify;
  }
}

@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }
  
  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }
  
  .our_solution_category .solution_cards_box {
    flex: auto;
  }

  .social_profile{
    margin-top: 0%;
  }
}

@media only screen and (max-width:480px) { 
  .background-img img{
    height: 500px;
  }

  .background-img .card-img-overlay{
    margin-top: 40% !important;
    margin-left: 5% !important;
  }

  .background-img .card-img-overlay h3{
    font-size: 1.5em !important;
    width: 70% !important;
  }

  .background-img .card-img-overlay p{
    font-size: 0.8em !important;
    text-align: justify;
    width: 65%;
  }

  .background-img .card-img-overlay .button{
    margin-top: -3% !important;
  }

  .portofolio .text-portofolio p{
    text-align: justify;
    width: 95%;
    margin: auto;
    padding: auto;
  }

  .our-service .text-service p{
    text-align: justify;
  }
  
  .social_profile ul li a{
    width:40px;
    height:40px;
    line-height:40px;
  }

  .social_profile{
    margin-top: 0%;
  }
}

@media only screen and (max-width: 1280px){
  .background-img .card-img-overlay{
    margin-top: 20%;
    margin-left: 10.5%;
  }

  .background-img .card-img-overlay h3{
    font-size: 1.5em;
    width: 60%;
  }

  .background-img .card-img-overlay p{
    font-size: 1em;
    text-align: justify;
  }

  .background-img .card-img-overlay .button{
    margin-top: -1%;
  }

  .footer .title-desc{
    white-space: nowrap;
  }
}

@media screen and (min-width: 769px){
  .features .card-body p{
    text-align: justify;
    letter-spacing: -0.8px;
  }

  .portofolio .text-portofolio p{
    text-align: justify;
    width: 95%;
    margin: auto;
    padding: auto;
  }
  
  .postcard {
    flex-wrap: inherit;
  }
  
  .postcard .postcard__title {
    font-size: 2rem;
  }
  
  .postcard .postcard__tagbox {
    justify-content: start;
  }
  
  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  
  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  
  .postcard.media .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
  
  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  
  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }

  .postcard .green::before {
    background-image: linear-gradient(-80deg, var(--main-green-rgb-015), transparent 50%);
  }
    
  .postcard .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, var(--main-green-rgb-015), transparent 50%);
  }
    
  .postcard .blue::before {
    background-image: linear-gradient(-80deg, var(--main-blue-rgb-015), transparent 50%);
  }
    
  .postcard .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, var(--main-blue-rgb-015), transparent 50%);
  }
    
  .postcard .red::before {
    background-image: linear-gradient(-80deg, var(--main-red-rgb-015), transparent 50%);
  }
    
  .postcard .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, var(--main-red-rgb-015), transparent 50%);
  }
    
  .postcard .yellow::before {
    background-image: linear-gradient(-80deg, var(--main-yellow-rgb-015), transparent 50%);
  }
    
  .postcard .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, var(--main-yellow-rgb-015), transparent 50%);
  }

  .our_solution_category .solution_cards_box {
    flex: 1;
  }

  .about .card img{
    margin-top: 30%;
  }

  .our-service .text-service p{
    text-align: justify;
  }

  .single_footer{
    margin-bottom:30px;
  }
  
  .subscribe__btn{
    right:0px;
  }

  .subscribe__input{
    padding: 0 50px 0 20px;
  }

  .social_profile ul li a{
    margin-right:10px;margin-bottom:10px;
  }

  .social_profile{
    margin-top: 0%;
  }
}
  
@media screen and (min-width: 1024px) {
  .about .card img{
    margin-top: 7.5%;
    width: 90%;
  }
  
  .postcard .postcard__text {
    padding: 2rem 3.5rem;
  }
  
  .postcard .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  
  .postcard.dark .postcard__text:before {
    background: #18151f;
  }
  
  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }

  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }

  .our_solution_category {
    width: 50%;
    margin: 0 auto;
  }

  .social_profile{
    margin-top: 0%;
  }
}
