@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-green: #79dd09;
  --main-green-rgb-015: rgba(121, 221, 9, 0.1);
  --main-yellow: #bdbb49;
  --main-yellow-rgb-015: rgba(189, 187, 73, 0.1);
  --main-red: #bd150b;
  --main-red-rgb-015: rgba(189, 21, 11, 0.1);
  --main-blue: #0076bd;
  --main-blue-rgb-015: rgba(0, 118, 189, 0.1);
}

html{
	scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

@font-face {
  font-family: "Ailerons";
  src: url('assets/font/Ailerons-Typeface.otf');
}

/* Settings Navbar */
nav{
  border: none !important;
  background-color: transparent !important;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  transition: background-color 1s ease-in-out;
}

nav .navbar-brand{
  cursor: pointer;
}

.navbar-brand img {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 1;
}

.logo-transition {
  opacity: 0;
  transform: scale(0.9);
}

.nav-link{
  color: white !important;
  margin-right: 10px;
}

.nav-link:after{
	content: '';
  display: block;
  height: 3px;
  width: 0;
  background: #48D1CC;
  transition: width .6s ease, background-color .7s ease;
}

.nav-link:hover:after{
	width: 100%;
  background: white;
}

nav.active{
	background-color: #62C4D2 !important;
  transform: translate(0px);
  transition: 0.8s;
  box-shadow: 0px 5px 20px #708090;
}

navbar.active {
  background-color: #0099cc;
}
/* Settings Navbar */


/* Settings Img and Text */
.background-img img{
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
}

.background-img .iconbg img{
  width: 30%;
  margin-left: 60%;
  margin-top: -50%;
}

.background-img .card-img-overlay{
  margin-top: 17vw !important;
  margin-left: 8%;
}

.background-img .card-img-overlay h1{
  width: 60%;
  font-family: Montserrat;
  color: #033E3E;
}

.background-img .card-img-overlay p{
  width: 50vw;
  text-align: justify;
  font-family: kanit;
  font-weight: reguler;
  color: #797979;
}

.background-img .card-img-overlay a{
  color: white;
  text-decoration: none;
  background-color: #2AA0B1;
  border: 2px solid #2AA0B1;
  padding: 0.7vw;
  border-radius: 5px;
  font-family: kanit;
  transition: 0.3s ease-in-out;
}

.background-img .card-img-overlay a:hover{
  background-color: white;
  border: 2px solid #2AA0B1;
  color: #2AA0B1;
}
/* Settings Img and Text */


/* Settings Features */
.features{
  margin-top: -8%;
}

.features .card{
	background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  border: none;
}

.features .card img{
  width: 20%;
  margin-top: 5%;
}

.features .card-body h5{
  font-family: Montserrat;
}

.features .card-body p{
	color: #A9A9A9;
	font-size: 14px;
  font-family: kanit;
  text-align: justify;
}
/* Settings Features */


/* Settings Portofolio */
#portofolio{
  height: auto;
  width: 97%;
  margin: auto;
  padding: auto;
  margin-top: 3%;
}

#portofolio .text-portofolio h3{
  font-family: Montserrat;
  color: white;
}

#portofolio .text-portofolio p{
  font-family: kanit;
  color: white;
}

#portofolio .container-fluid .content-portofolio{
  background-color: #48D1CC;
  border-radius: 10px;
}

#portofolio .container-fluid .text-portofolio p{
  font-size: 14px;
  padding: 0.5vw;
  font-weight: 0;
}

a, a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

.postcard a {
  color: inherit;
}

.postcard h1, .postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: Viga;
}

.postcard .small {
  font-size: 80%;
}

.postcard .postcard__title {
  font-size: 1.75rem;
}

.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.postcard .postcard__img_link {
  display: contents;
}

.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
  font-family: Kanit;
}

.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}

.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}

.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}

.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}

.postcard:hover .postcard__bar {
  width: 100px;
}

.postcard .postcard__tagbox .green.play:hover {
  background: var(--main-green);
  color: black;
}

.postcard .green .postcard__title:hover {
  color: var(--main-green);
}

.postcard .green .postcard__bar {
  background-color: var(--main-green);
}

.postcard .green::before {
  background-image: linear-gradient(-30deg, var(--main-green-rgb-015), transparent 50%);
}

.postcard .green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, var(--main-green-rgb-015), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
  background: var(--main-blue);
}

.postcard .blue .postcard__title:hover {
  color: var(--main-blue);
}

.postcard .blue .postcard__bar {
  background-color: var(--main-blue);
}

.postcard .blue::before {
  background-image: linear-gradient(-30deg, var(--main-blue-rgb-015), transparent 50%);
}

.postcard .blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, var(--main-blue-rgb-015), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
  background: var(--main-red);
}

.postcard .red .postcard__title:hover {
  color: var(--main-red);
}

.postcard .red .postcard__bar {
  background-color: var(--main-red);
}

.postcard .red::before {
  background-image: linear-gradient(-30deg, var(--main-red-rgb-015), transparent 50%);
}

.postcard .red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, var(--main-red-rgb-015), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
  background: var(--main-yellow);
  color: black;
}

.postcard .yellow .postcard__title:hover {
  color: var(--main-yellow);
}

.postcard .yellow .postcard__bar {
  background-color: var(--main-yellow);
}

.postcard .yellow::before {
  background-image: linear-gradient(-30deg, var(--main-yellow-rgb-015), transparent 50%);
}

.postcard .yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, var(--main-yellow-rgb-015), transparent 50%);
}
/* Settings Portofolio */


/* Settings About Us */
.one-bg{
  height: auto;
  background-color: #48D1CC;
}

#about{
  margin-top: 3%;
  height: auto;
}

#about .container h3{
  padding-top: 2%;
  font-family: Montserrat;
  color: white;
}

#about .card{
  background-color: transparent;
  border: none;
}

#about .card img{
  margin-top: 7% !important;
}

#about .card p{
  text-align: justify;
  font-family: Kanit;
  color: white;
}
/* Settings About Us */

/* Settings Our Service */
#our-service{
  margin-top: 3%;
  height: auto;
}

#our-service .text-service h3{
  font-family: Montserrat;
  color: white;
}

#our-service .text-service p{
  font-family: Kanit;
  color: white;
}

.section_our_solution{
  margin-top: 5%;
}

.section_our_solution .row {
  align-items: center;
}

.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover {
  background: #309df0;
  color: #fff;
  transform: scale(1.1);
  z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
  color: #fff;
}

.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff !important;
  color: #309df0;
}

.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
  font-family: Montserrat;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
  text-align: justify;
  font-family: Kanit;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-top: 10px;
}
/* Settings Our Service */


/* Settings Footer */
.footer a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

.footer a,
a:active,
a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer img {
  max-width: 100%;
  height: auto;
}

.footer section {
  padding: 60px 0;
}

.footer {
  background: #008080;
  padding-top: 80px;
  padding-bottom: 40px;
}

.single_footer h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Montserrat;
}

.single_footer h4::after {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background: #fff;
  margin-top: 20px;
}

.single_footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.single_footer ul li a {
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 36px;
  font-size: 15px;
  text-transform: capitalize;
  font-family: Kanit;
}

.single_footer_address ul li{
  color:#fff;
}

.single_footer_address ul li span {
  font-weight: 400;
  color: #fff;
  line-height: 28px;
}

.contact_social ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.social_profile{
  margin-top: 0%;
}

.social_profile ul{
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.social_profile ul li{
  float: left;
}

.social_profile ul li a {
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  margin: 0px 5px;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  border: 1px solid rgba(255,255,255,0.2);
}

.social_profile ul li a:hover{
  background:#E95A49;
  border: 1px solid #E95A49;
  color:#fff;
  border:0px;
}

.copyright {
  margin-top: 70px;
  padding-top: 50px;
  color:#fff;
  font-size: 15px;
  border-top: 1px solid rgba(255,255,255,0.4);
  text-align: center;
  font-family: Montserrat;
}



/* Settings Responsive Ukuran Kecil */
@media (min-width: 300px) and (max-width: 410px){
  nav .navbar-brand{
    width: 70%;
  }

  nav .navbar-brand img{
    width: 70%;
    margin-top: -3%;
  }

  .background-img img{
    height: 470px;
  }

  .background-img .iconbg img{
    width: 60%;
    height: auto;
    margin-left: 18%;
    margin-top: -200%;
  }

  .background-img .card-img-overlay{
    margin-top: 80% !important;
    margin-left: 0% !important;
  }

  .background-img .card-img-overlay h1{
    font-size: 1em;
    width: 100%;
    text-align: center;
  }

  .background-img .card-img-overlay p{
    font-size: 0.8em;
    width: 100%;
    text-align: center;
  }

  .background-img .card-img-overlay .button{
    margin-top: -3.5%;
  }

  .features{
    margin-top: 0%;
    margin-bottom: 5%;
  }

  .features .card{
    width: 85%;
    padding: auto;
    margin: auto;
    margin-top: -3%;
  }

  .features .card h5{
    font-size: 1em;
  }

  .features .card p{
    font-size: 0.7em;
  }

  #portofolio .text-portofolio h3{
    font-size: 1.2em;
  }

  #portofolio .text-portofolio p{
    font-size: 0.7em !important;
    text-align: justify;
    width: 90%;
    padding: auto;
    margin: auto;
  }

  .postcard .postcard__title{
    font-size: 1.3em;
  }

  .postcard .postcard__subtitle{
    font-size: 0.7em;
  }

  .postcard .postcard__preview-txt{
    font-size: 0.7em;
  }

  .about h3{
    font-size: 1.2em;
  }

  #about .card img{
    width: 90%;
    margin: auto;
    padding: auto;
  }

  #about .card-body p{
    font-size: 0.7em;
  }

  #our-service .text-service h3{
    font-size: 1.2em;
  }

  #our-service .text-service p{
    font-size: 0.7em;
    text-align: justify;
  }

  .solution_card .solu_title h3{
    font-size: 1.2em;
  }

  .solution_card .solu_description p{
    font-size: 0.7em;
  }

  .sol_card_top_3 {
    position: relative;
    top: 0;
  }
  
  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }
  
  .our_solution_category .solution_cards_box {
    flex: auto;
  }

  .footer .row{
    margin-top: -15%;
  }

  .footer .single_footer ul{
    margin-top: -5%;
  }

  .footer .single_footer a{
    font-size: 0.8em;
  }

  .footer .single_footer_address h4{
    margin-top: 8%;
    font-size: 1.2em;
  }

  .footer .single_footer_address ul{
    margin-top: -5%;
  }

  .footer .single_footer_address a{
    font-size: 0.8em;
  }

  .footer .copyright{
    font-size: 0.8em;
  }
}
/* Settings Responsive Ukuran Kecil */


/* Settings Responsive Ukuran Hp Normal */
@media (min-width: 410px) and (max-width: 767px){
  nav .navbar-brand img{
    width: 80%;
  }
  
  .background-img img{
    height: 800px;
  }

  .background-img .iconbg img{
    width: 70%;
    height: auto;
    margin-left: 14%;
    margin-top: -265%;
  }

  .background-img .card-img-overlay{
    margin-top: 95% !important;
    margin-left: 0%;
  }

  .background-img .card-img-overlay h1{
    font-size: 1.3em;
    width: 95%;
    margin: auto;
    padding: auto;
    text-align: center;
  }

  .background-img .card-img-overlay p{
    font-size: 1em;
    width: 95%;
    margin: auto;
    padding: auto;
    text-align: center;
  }

  .background-img .card-img-overlay .button{
    margin-top: 2%;
    font-size: 20px;
  }

  .features{
    margin-top: 2%;
    margin-bottom: 5%;
  }

  .features .card{
    margin-top: -3%;
  }

  .features .card-body h5{
    font-size: 1.2em;
  }

  .features .card-body p{
    font-size: 0.8em;
  }

  #portofolio .text-portofolio h3{
    font-size: 1.4em;
  }

  #portofolio .text-portofolio p{
    font-size: 0.8em !important;
    text-align: justify;
    width: 90%;
    padding: auto;
    margin: auto;
  }

  .postcard .postcard__title{
    font-size: 1.2em;
  }

  .postcard .postcard__subtitle{
    font-size: 0.8em;
  }

  .postcard .postcard__preview-txt{
    font-size: 0.8em;
  }

  #about h3{
    font-size: 1.4em;
  }

  #about .card img{
    width: 90%;
    margin: auto;
    padding: auto;
  }

  #about .card-body p{
    font-size: 0.8em;
  }

  #our-service .text-service h3{
    font-size: 1.4em;
  }

  #our-service .text-service p{
    font-size: 0.8em;
    text-align: justify;
  }

  .solution_card .solu_title h3{
    font-size: 1.2em;
  }

  .solution_card .solu_description p{
    font-size: 0.8em;
  }

  .footer .row{
    margin-top: -11%;
  }

  .footer .single_footer ul{
    margin-top: -5%;
  }

  .footer .single_footer a{
    font-size: 0.9em;
  }

  .footer .single_footer_address h4{
    margin-top: 8%;
    font-size: 1.4em;
  }

  .footer .single_footer_address ul{
    margin-top: -5%;
  }

  .footer .single_footer_address a{
    font-size: 0.9em;
  }

  .footer .copyright{
    font-size: 0.9em;
  }
}
/* Settings Responsive Ukuran Hp Normal */


/* Settings Responsive Ukuran Tablet Normal*/
@media screen and (min-width: 768px){
  .background-img .card-img-overlay{
    margin-top: 13% !important;
  }
  
  .background-img .card-img-overlay h1{
    font-size: 1.6em;
    width: 60%;
  }

  .background-img .card-img-overlay p{
    font-size: 1em;
    width: 60%;
  }

  .features .card-body p{
    letter-spacing: -1.5px;
    font-size: 1em;
  }

  #portofolio .text-portofolio h3{
    font-size: 1.7em;
  }

  #portofolio .text-portofolio p{
    font-size: 1em;
    text-align: justify;
    width: 95%;
    margin: auto;
    padding: auto;
  }

  #about h3{
    font-size: 1.7em;
  }

  #about .card img{
    margin-top: 33%;
  }

  #our-service .text-service h3{
    font-size: 1.7em;
  }

  #our-service .text-service p{
    font-size: 1em;
    text-align: justify;
  }

  .postcard {
    flex-wrap: inherit;
  }
  
  .postcard .postcard__title {
    font-size: 2rem;
  }
  
  .postcard .postcard__tagbox {
    justify-content: start;
  }
  
  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  
  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  
  .postcard.media .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
  
  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  
  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }

  .postcard .green::before {
    background-image: linear-gradient(-80deg, var(--main-green-rgb-015), transparent 50%);
  }
    
  .postcard .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, var(--main-green-rgb-015), transparent 50%);
  }
    
  .postcard .blue::before {
    background-image: linear-gradient(-80deg, var(--main-blue-rgb-015), transparent 50%);
  }
    
  .postcard .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, var(--main-blue-rgb-015), transparent 50%);
  }
    
  .postcard .red::before {
    background-image: linear-gradient(-80deg, var(--main-red-rgb-015), transparent 50%);
  }
    
  .postcard .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, var(--main-red-rgb-015), transparent 50%);
  }
    
  .postcard .yellow::before {
    background-image: linear-gradient(-80deg, var(--main-yellow-rgb-015), transparent 50%);
  }
    
  .postcard .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, var(--main-yellow-rgb-015), transparent 50%);
  }

  .our_solution_category .solution_cards_box {
    flex: 1;
  }

  .about .card img{
    margin-top: 33% !important;
  }

  .footer .title-desc{
    white-space: nowrap;
  }
}
/* Settings Responsive Ukuran Tablet Normal*/


/* Settings Responsive Ukuran Mac/Desktop */
@media only screen and (min-width: 1024px) {
  .background-img .card-img-overlay{
    margin-top: 15% !important;
  }
  
  .background-img .card-img-overlay h1{
    font-size: 2em;
  }

  .background-img .card-img-overlay p{
    font-size: 1.2em;
    width: 60%;
  }

  .features .card-body h5{
    font-size: 1.5em;
  }

  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }

  .our_solution_category {
    width: 50%;
    margin: 0 auto;
  }

  #about .card img{
    margin-top: 7% !important;
  }
}
/* Settings Responsive Ukuran Mac/Desktop */

